

<%= link_to 'Back to Import Job', import_job_path(@import_job), :class => 'btn btn-mini btn-info' %></td>

<div class="row">
  <div class="col-md-6">
    <h1>Local Version</h1>
  </div>
  <div class="col-md-6">
    <h1>DPLA Version</h1>
  </div>
</div>
<div class="batch-records">
  <ul>
  <% @records.each do |record| %>
      <div class="row">
        <li>
          <div class="col-md-6">
           [ID: <%= record.id %>]
            <%= record.identifier %>
            <%=  link_to  'Diff with DPLA', :action => :check_teachers, :id => @school.id
            <%= link_to 'Diff with DPLA', diff_with_dpla(@import_job), :class => 'btn btn-mini btn-info' %></td>
            <pre><code><%= JSON.pretty_generate(record.metadata) %></pre></code>
          </div>
          <div class="col-md-6">
          </div>
        </li>

      </div>
  <% end %>
  </ul>
</div>